@model LeoTodo.Web.Models.TarefaModel

<table id="toDoList-table">

    <tr>
        <td> <input class="id1" data-id="" type="checkbox" /> </td>
        <td> <input class="id2" type="text" /> </td>
    </tr>

</table>